/* Declarar variáveis */
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --white: #fff;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

/* Comando gerais */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    /* Manter fixo mesmo movimentando a página*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    /* Indicar a sobreposição da página */
    border-bottom: var(--border);
    background: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Criar espaçamento entre os itens da barra de navegação */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--white);
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0, 5rem;
    font-size: 2rem;
    transition: linear 0.2s;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
    transition: linear 0.2s;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

/* Começo da primeira seção home */

.home-container {
    background: url("images/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.home-container section {
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.content {
    max-width: 100rem;
}

.content h3 {
    font-size: 6rem;
    color: var(--white);
}

.content p {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    color: var(--white);
    padding: 1rem 0;
    width: 400px;
    text-align: justify;
}

.btn {
    background-color: var(--main-color);
    color: var(--white);
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase; /* colocar tudo em letra maiúscula*/
    margin-bottom: 4rem;
}

.title span {
    color: var(--white);
    text-transform: uppercase;
}

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem 0rem; 
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--white);
}

.about .row .content p {
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 1.8;
}

/* Início da seção menu */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    gap: 1,5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: var(--white);
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 100;
}

/* Foi colocado aqui e não perto da origem por causa do efeito cascata */
.menu .box-container .box:hover {
    background-color: var(--white);
}

.menu .box-container .box:hover>* { /* o asterístico troca a cor de todo mundo*/
    color: var(--black);
}

/* Seção nossos clientes */

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 1rem;
}

.review .box-container .box p {
    font-weight: lighter;
    font-size: 1.5rem;
    color: var(--white);
    padding: 2rem 0;
    line-height: 1.8;
}

.review .box-container .box h3{
    color: var(--white);
    font-size: 2rem;
    margin: 1rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

/* Seção edereço */

.address {
    display: flex;
    align-items: center;
    flex-direction: column; /* Colocar como uma coluna uma do lado da outra*/
}

/* Seção footer */

.footer {
    text-align: center;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share img {
    margin: 0.3;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.footer .share img:hover{
    background-color: var(--main-color);
}