/* Declarar variáveis */
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --white: #fff;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

/* Comando gerais */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    /* Manter fixo mesmo movimentando a página*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    /* Indicar a sobreposição da página */
    border-bottom: var(--border);
    background: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Criar espaçamento entre os itens da barra de navegação */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--white);
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0, 5rem;
    font-size: 2rem;
    transition: linear 0.2s;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
    transition: linear 0.2s;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

/* Começo da primeira seção home */

.home-container {
    background: url("images/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.home-container section {
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.content {
    max-width: 100rem;
}

.content h3 {
    font-size: 6rem;
    color: var(--white);
}

.content p {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    color: var(--white);
    padding: 1rem 0;
    width: 600px;
    text-align: justify;
}

.btn {
    background-color: var(--main-color);
    color: var(--white);
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}